* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background-color: #000000;
    margin-top: auto;
  }
  
  .footerContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  
  /* Hover Effects on Social Media Icons */
  .socialIcons a:hover {
    background-color: #000000;
    transition: 0.5s;
  }
  
  .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }
  
  .footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footerBottom p {
    color: white;
  }
  
  .designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  